@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.repet{
  background-image: url(../public//Icon//d.svg);
  height: auto;
  /* @media (min-width: 768px) {
    min-height: 40vh;
  }
  @media (min-width: 1024px) {
    min-height: 100vh;
  } */
}

/*Animation */
.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-hor-right {
0% {
-webkit-transform: scaleX(0);
    transform: scaleX(0);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
100% {
-webkit-transform: scaleX(1);
    transform: scaleX(1);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
}
@keyframes scale-in-hor-right {
0% {
-webkit-transform: scaleX(0);
    transform: scaleX(0);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
100% {
-webkit-transform: scaleX(1);
    transform: scaleX(1);
-webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
opacity: 1;
}
}

.bg-position{
  background-size: 30px auto;
	background-position: 0.4em center;
}